@import "./normalize.scss";
@import "./reset.scss";
@import "./colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Outfit:wght@300;400;500;600&display=swap');

@mixin transition($duration){
    -webkit-transition: $duration ease;
    transition: $duration ease;
    -moz-transition: $duration ease;
    -o-transition: $duration ease;
}
body {
    color: var(--font-color);
    background: var(--bg-hover-button);
    font-family: 'Outfit', sans-serif;
}

.container {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background-color: var(--bg-tint);
    border: none;
    width: 50px;
    height: 50px;
    color: var(--font-color);
    width: 80%;
    height: 80%;
    font-size: 24px;
    font-weight: 600;
    @include transition(0.2s);
    border-radius: 10px;
    &:hover {
        background: var(--bg-hover-button);
    }
}
.calculator {
    background-color: var(--bg);
    width: 450px;
    height: 800px;
    border-radius: 35px;

    .calculator__display {
        position: relative;
        background-color: var(--bg);
        border-radius: 35px;
        height: 40%;
        display: flex;
        justify-content: center;
        padding-top: 20px;

        .calculator__color-mode {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0px 15px;
            background-color: var(--bg-tint);
            height: 50px;
            width: 100px;
            border-radius: 20px;

            .calculator__mode-wrapper {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                svg {
                    width: 30px;
                    height: 30px;
                    @include transition(0.4s);
                    fill: var(--font-color);

                    &:hover {
                        fill: var(--grey);
                        transform: rotate(60deg);
                    }
                }

                .calculator__sun {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .calculator__answer {
            overflow: hidden;
            position: absolute;
            width: 90%;
            height: 60%;
            bottom: 30px;
            right: 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            color: var(--font-color);
            user-select: none;

            h1 {
                font-size: 55px;
                font-weight: 600;
                @include transition(0.3s);
                margin: 0;
            }

            h2 {
                font-size: 28px;
                font-weight: 400;
                @include transition(0.3s);
                margin-bottom: 15px;
            }

            .calculator__wrapper-copy {
                position: absolute;
                top: 0px;
                height: 70px;
                display: flex;
                align-items: flex-end;

                svg {
                    width: 35px;
                    height: 35px;
                    user-select: none;
                    cursor: pointer;
                    @include transition(0.4s);
                    fill: var(--font-color);
                    &:hover{
                        fill:var(--grey);
                    }
                }
            }
        }
    }
    .calculator__buttons {
        background-color: var(--bg-tint);
        padding: 5%;
        height: 60%;
        border-radius: 35px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        justify-items: center;

        :first-child {
            color: var(--cian);
        }

        #degree {
            transform: rotate(90deg);
            height: 40px;
            width: 40px;
        }

        img {
            width: 35px;
            height: 35px;
        }
    
        svg {
            width: 35px;
            height: 35px;
            fill: var(--cian);
        }
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px) }
    60% {-webkit-transform: translateY(-20px);}
} 

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
} 

.bounce {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
